name: deploy-manifest

on:
  push:
    branches:
      - main
    paths:
      - 'Project/ticketing/infra/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITAL_OCEAN_ACCESS_TOKEN }}
      - run: doctl kubernetes cluster kubeconfig save ticketing
      - run: kubectl apply -f Project/ticketing/infra/k8s
      - run: kubectl apply -f Project/ticketing/infra/k8s-prod
